@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img{
  height: 200px;
  padding: 20px;
}

.container nav li{
  border-radius: 20px;
  padding: 2px 10px;
  transition: 0.8s;
}

.container nav li:hover{
  background: #fff;
  border-radius: 20px;
  transition: 0.8s;
  color: black;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #112;
  font-size: 18px;
  line-height: 1.6;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 40%), radial-gradient(closest-side, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), radial-gradient(circle at center -48%, rgb(188, 202, 228) 50%, rgb(80, 94, 135) 110%);
  background: radial-gradient(closest-side, rgba(228, 79, 79, 0.7), rgba(228, 79, 79, 0)) 600% 500% / 90% 90% no-repeat, radial-gradient(closest-side, rgba(228, 79, 79, 0.7), rgba(228, 79, 79, 0)) 600% 180% / 90% 90% no-repeat, radial-gradient(closest-side, rgba(250, 250, 218, 0.2), rgba(250, 250, 218, 0)) 100% 150% / 75% 50% no-repeat, radial-gradient(closest-side, rgba(250, 250, 218, 0.3), rgba(250, 250, 218, 0)) -400% -100% / 90% 80% no-repeat, radial-gradient(closest-side, rgba(94, 225, 249, 0.8), rgba(94, 225, 249, 0)) -100% -250% / 85% 80% no-repeat, radial-gradient(closest-side, rgba(94, 225, 249, 0.6), rgba(94, 225, 249, 0)) -170% 100% / 70% 60% no-repeat, linear-gradient(30deg, rgb(110, 16, 206) 10%, rgba(110, 16, 206, 0) 70%, rgba(255, 255, 255, 0) 90%) 50% 50% / 100% 100% no-repeat, linear-gradient(144deg, rgba(233, 235, 104, 0), rgba(233, 235, 104, 0.3)) no-repeat, linear-gradient(90deg, rgba(104, 184, 235, 0.11), rgba(15, 216, 223, 0.11)) no-repeat, rgb(255, 255, 255);
  height: inherit;
}

:root{
  --text-color: #111;
}

ul{
  list-style: none;
  transition: 0.8s;
}

h1{
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: ;
  margin-bottom: 30px;
}

h2{
  color: var(--text-color);
}

h3{
  margin-bottom: 10px;
  color: #111;
}

.hidden{
  display: none;
}

a{
  color: var(--text-color);
  text-decoration: none;
}

.container{
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav{
  width: 60%;
  pointer: cursor;
}

nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li{
  color: var(--text-color);
}

.cursor{
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to{
      color: transparent;
    }
    50%{
      color: var(--text-color);
    }
}

p{
  margin: 20px 0;
}
.coming-soon i{
  font-size: 30px;
  color: black;
}

main ul{
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  transition: 0.8s;
}

main ul a{
  transition: 0.8s;
}

main ul a:hover{
  color: #787878;
  transition: 0.8s;
}

.showcaseT{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 90%;
  text-align: center;
}

.showcaseA, .showcaseB{
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  width: 90%;
}
.box{
  background: #fff;
  padding: 30px 30px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
}

.boxA{
  background: #fff;
  padding: 30px 58px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
}
.boxB{
  width: 1173px;
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}

.countdown{
  display: flex;
  justify-content: space-around;

}

.showcaseB{
  margin-top: 10px;
  margin-bottom: 100px;
  height: 300px;
  text-align: center;
  justify-content: center;
  display: flex;
}



@media screen and (max-width:1200px){
  .showcase{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .showcaseA, .showcaseT{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    transform: scale();
    transition: 0.8s;
  }

  .showcaseB{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 90%;
  }

  .box, .boxA, .boxB{
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    justify-content: center;
  }
}
